In [0]:
from pyspark.sql import SparkSession
spark =  SparkSession.builder.appName("test").getOrCreate()

In [0]:
empdata = [(101,'Keshav','Pune'),(502,'Ravi','Mumbai'),(103,'Rahul','Chennai'),(700,'Madhav','Mumbai'),(105,'Ravi','Mumbai'),(106,'Ravi','Mumbai'),(107,'Ravi','Mumbai'),(108,'Ravi','Mumbai')]

In [0]:
department = ([(101,'IT'),(102,'HR'),(103,'Admin'),(104,'IT'),(105,'HR'),(106,'Operatoins'),(107,'Sales'),(108,'Marketing'),(500,'Finance')])

In [0]:
df1 = spark.createDataFrame(empdata,['id','name','city'])
df2 = spark.createDataFrame(department,['id','department'])
df1.show()
df2.show()

+---+------+-------+
| id|  name|   city|
+---+------+-------+
|101|Keshav|   Pune|
|502|  Ravi| Mumbai|
|103| Rahul|Chennai|
|700|Madhav| Mumbai|
|105|  Ravi| Mumbai|
|106|  Ravi| Mumbai|
|107|  Ravi| Mumbai|
|108|  Ravi| Mumbai|
+---+------+-------+

+---+----------+
| id|department|
+---+----------+
|101|        IT|
|102|        HR|
|103|     Admin|
|104|        IT|
|105|        HR|
|106|Operatoins|
|107|     Sales|
|108| Marketing|
|500|   Finance|
+---+----------+

In [0]:
df1.join(df2,on="id",how="right").explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- == Initial Plan ==
   ColumnarToRow
   +- PhotonResultStage
      +- PhotonProject [id#13410L, name#13408, city#13409, department#13411]
         +- PhotonBroadcastHashJoin [id#13407L], [id#13410L], RightOuter, BuildLeft, false, true
            :- PhotonShuffleExchangeSource
            :  +- PhotonShuffleMapStage EXECUTOR_BROADCAST, [id=#8737]
            :     +- PhotonShuffleExchangeSink SinglePartition
            :        +- PhotonRowToColumnar
            :           +- LocalTableScan [id#13407L, name#13408, city#13409]
            +- PhotonRowToColumnar
               +- LocalTableScan [id#13410L, department#13411]


== Photon Explanation ==
The query is fully supported by Photon.

In [0]:
from pyspark.sql.functions import broadcast
df1.join(broadcast(df2), "id").explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- == Initial Plan ==
   ColumnarToRow
   +- PhotonResultStage
      +- PhotonProject [id#13485L, name#13486, city#13487, department#13489]
         +- PhotonBroadcastHashJoin [id#13485L], [id#13488L], Inner, BuildRight, false, true
            :- PhotonRowToColumnar
            :  +- LocalTableScan [id#13485L, name#13486, city#13487]
            +- PhotonShuffleExchangeSource
               +- PhotonShuffleMapStage EXECUTOR_BROADCAST, [id=#9128]
                  +- PhotonShuffleExchangeSink SinglePartition
                     +- PhotonRowToColumnar
                        +- LocalTableScan [id#13488L, department#13489]


== Photon Explanation ==
The query is fully supported by Photon.

In [0]:
df1.join(df2.hint("merge"), "id").show()

+---+------+-------+----------+
| id|  name|   city|department|
+---+------+-------+----------+
|101|Keshav|   Pune|        IT|
|103| Rahul|Chennai|     Admin|
|105|  Ravi| Mumbai|        HR|
|106|  Ravi| Mumbai|Operatoins|
|107|  Ravi| Mumbai|     Sales|
|108|  Ravi| Mumbai| Marketing|
+---+------+-------+----------+

In [0]:
df1.join(df2.hint("shuffle_hash"), "id",how='left').show()

+---+------+-------+----------+
| id|  name|   city|department|
+---+------+-------+----------+
|101|Keshav|   Pune|        IT|
|502|  Ravi| Mumbai|      NULL|
|103| Rahul|Chennai|     Admin|
|700|Madhav| Mumbai|      NULL|
|105|  Ravi| Mumbai|        HR|
|106|  Ravi| Mumbai|Operatoins|
|107|  Ravi| Mumbai|     Sales|
|108|  Ravi| Mumbai| Marketing|
+---+------+-------+----------+

In [0]:
df1.join(df2.hint("cartesion")).show()

+---+------+-------+---+----------+
| id|  name|   city| id|department|
+---+------+-------+---+----------+
|101|Keshav|   Pune|101|        IT|
|101|Keshav|   Pune|102|        HR|
|101|Keshav|   Pune|103|     Admin|
|101|Keshav|   Pune|104|        IT|
|101|Keshav|   Pune|105|        HR|
|101|Keshav|   Pune|106|Operatoins|
|101|Keshav|   Pune|107|     Sales|
|101|Keshav|   Pune|108| Marketing|
|101|Keshav|   Pune|500|   Finance|
|502|  Ravi| Mumbai|101|        IT|
|502|  Ravi| Mumbai|102|        HR|
|502|  Ravi| Mumbai|103|     Admin|
|502|  Ravi| Mumbai|104|        IT|
|502|  Ravi| Mumbai|105|        HR|
|502|  Ravi| Mumbai|106|Operatoins|
|502|  Ravi| Mumbai|107|     Sales|
|502|  Ravi| Mumbai|108| Marketing|
|502|  Ravi| Mumbai|500|   Finance|
|103| Rahul|Chennai|101|        IT|
|103| Rahul|Chennai|102|        HR|
+---+------+-------+---+----------+
only showing top 20 rows

In [0]:
df1.join(df2,df1.id>df2.id).show()

+---+------+-------+---+----------+
| id|  name|   city| id|department|
+---+------+-------+---+----------+
|502|  Ravi| Mumbai|101|        IT|
|502|  Ravi| Mumbai|102|        HR|
|502|  Ravi| Mumbai|103|     Admin|
|502|  Ravi| Mumbai|104|        IT|
|502|  Ravi| Mumbai|105|        HR|
|502|  Ravi| Mumbai|106|Operatoins|
|502|  Ravi| Mumbai|107|     Sales|
|502|  Ravi| Mumbai|108| Marketing|
|502|  Ravi| Mumbai|500|   Finance|
|103| Rahul|Chennai|101|        IT|
|103| Rahul|Chennai|102|        HR|
|700|Madhav| Mumbai|101|        IT|
|700|Madhav| Mumbai|102|        HR|
|700|Madhav| Mumbai|103|     Admin|
|700|Madhav| Mumbai|104|        IT|
|700|Madhav| Mumbai|105|        HR|
|700|Madhav| Mumbai|106|Operatoins|
|700|Madhav| Mumbai|107|     Sales|
|700|Madhav| Mumbai|108| Marketing|
|700|Madhav| Mumbai|500|   Finance|
+---+------+-------+---+----------+
only showing top 20 rows

In [0]:
df1.show()

+---+------+-------+
| id|  name|   city|
+---+------+-------+
|101|Keshav|   Pune|
|502|  Ravi| Mumbai|
|103| Rahul|Chennai|
|700|Madhav| Mumbai|
|105|  Ravi| Mumbai|
|106|  Ravi| Mumbai|
|107|  Ravi| Mumbai|
|108|  Ravi| Mumbai|
+---+------+-------+

In [0]:
df2.show()

+---+----------+
| id|department|
+---+----------+
|101|        IT|
|102|        HR|
|103|     Admin|
|104|        IT|
|105|        HR|
|106|Operatoins|
|107|     Sales|
|108| Marketing|
|500|   Finance|
+---+----------+

In [0]:
from pyspark.sql.functions import udf
def id_double(id):
    return id**2

udf_id_double = udf(id_double)
df1.withColumn("id_squared",udf_id_double(df1.id)).show()

+---+------+-------+----------+
| id|  name|   city|id_squared|
+---+------+-------+----------+
|101|Keshav|   Pune|     10201|
|502|  Ravi| Mumbai|    252004|
|103| Rahul|Chennai|     10609|
|700|Madhav| Mumbai|    490000|
|105|  Ravi| Mumbai|     11025|
|106|  Ravi| Mumbai|     11236|
|107|  Ravi| Mumbai|     11449|
|108|  Ravi| Mumbai|     11664|
+---+------+-------+----------+

In [0]:
df1.show()

+---+------+-------+
| id|  name|   city|
+---+------+-------+
|101|Keshav|   Pune|
|502|  Ravi| Mumbai|
|103| Rahul|Chennai|
|700|Madhav| Mumbai|
|105|  Ravi| Mumbai|
|106|  Ravi| Mumbai|
|107|  Ravi| Mumbai|
|108|  Ravi| Mumbai|
+---+------+-------+

In [0]:
df = spark.read.csv("/Volumes/workspace/default/offline9/deptwise_Sal.csv",inferSchema=True,header=True)

In [0]:
df.show()

+-----+-------------+-----+---------+
|empid|         name|  sal|     dept|
+-----+-------------+-----+---------+
|  101|     John Doe|55000|       IT|
|  102|   Jane Smith|62000|       HR|
|  103|Michael Brown|58000|  Finance|
|  104|  Sara Wilson|60000|Marketing|
|  105|David Johnson|53000|       IT|
|  106|  Emily Davis|61000|       HR|
|  107| Chris Martin|57000|  Finance|
|  108|   Amanda Lee|59000|Marketing|
|  109|  Robert King|54000|       IT|
|  110|  Laura Scott|63000|       HR|
|  111|Daniel Turner|56000|  Finance|
|  112|Olivia Harris|60500|Marketing|
|  113| Ethan Walker|57500|       IT|
|  114|  Grace Young|61500|       HR|
|  115| Brandon Hill|58500|  Finance|
|  116|    Mia Adams|59500|Marketing|
|  117|  Kevin Baker|54500|       IT|
|  118|    Zoe Clark|62500|       HR|
|  119| Jason Wright|56500|  Finance|
|  120|   Nora Green|60000|Marketing|
+-----+-------------+-----+---------+
only showing top 20 rows

In [0]:
def get_first_name(name):
    return name.split(" ")[0]
get_first_name_udf = udf(get_first_name)
df.withColumn("first_name",get_first_name_udf(df.name))

DataFrame[empid: int, name: string, sal: int, dept: string, first_name: string]

In [0]:
from pyspark.sql.types import StringType
@udf(returnType=StringType())
def get_first_name(name):
    return name.split(" ")[0]

df.withColumn("first_name",get_first_name(df.name)).show()
df.show()

+-----+-------------+-----+---------+----------+
|empid|         name|  sal|     dept|first_name|
+-----+-------------+-----+---------+----------+
|  101|     John Doe|55000|       IT|      John|
|  102|   Jane Smith|62000|       HR|      Jane|
|  103|Michael Brown|58000|  Finance|   Michael|
|  104|  Sara Wilson|60000|Marketing|      Sara|
|  105|David Johnson|53000|       IT|     David|
|  106|  Emily Davis|61000|       HR|     Emily|
|  107| Chris Martin|57000|  Finance|     Chris|
|  108|   Amanda Lee|59000|Marketing|    Amanda|
|  109|  Robert King|54000|       IT|    Robert|
|  110|  Laura Scott|63000|       HR|     Laura|
|  111|Daniel Turner|56000|  Finance|    Daniel|
|  112|Olivia Harris|60500|Marketing|    Olivia|
|  113| Ethan Walker|57500|       IT|     Ethan|
|  114|  Grace Young|61500|       HR|     Grace|
|  115| Brandon Hill|58500|  Finance|   Brandon|
|  116|    Mia Adams|59500|Marketing|       Mia|
|  117|  Kevin Baker|54500|       IT|     Kevin|
|  118|    Zoe Clark|62500|       HR|       Zoe|
|  119| Jason Wright|56500|  Finance|     Jason|
|  120|   Nora Green|60000|Marketing|      Nora|
+-----+-------------+-----+---------+----------+
only showing top 20 rows
+-----+-------------+-----+---------+
|empid|         name|  sal|     dept|
+-----+-------------+-----+---------+
|  101|     John Doe|55000|       IT|
|  102|   Jane Smith|62000|       HR|
|  103|Michael Brown|58000|  Finance|
|  104|  Sara Wilson|60000|Marketing|
|  105|David Johnson|53000|       IT|
|  106|  Emily Davis|61000|       HR|
|  107| Chris Martin|57000|  Finance|
|  108|   Amanda Lee|59000|Marketing|
|  109|  Robert King|54000|       IT|
|  110|  Laura Scott|63000|       HR|
|  111|Daniel Turner|56000|  Finance|
|  112|Olivia Harris|60500|Marketing|
|  113| Ethan Walker|57500|       IT|
|  114|  Grace Young|61500|       HR|
|  115| Brandon Hill|58500|  Finance|
|  116|    Mia Adams|59500|Marketing|
|  117|  Kevin Baker|54500|       IT|
|  118|    Zoe Clark|62500|       HR|
|  119| Jason Wright|56500|  Finance|
|  120|   Nora Green|60000|Marketing|
+-----+-------------+-----+---------+
only showing top 20 rows

In [0]:
df.show()

+-----+-------------+-----+---------+
|empid|         name|  sal|     dept|
+-----+-------------+-----+---------+
|  101|     John Doe|55000|       IT|
|  102|   Jane Smith|62000|       HR|
|  103|Michael Brown|58000|  Finance|
|  104|  Sara Wilson|60000|Marketing|
|  105|David Johnson|53000|       IT|
|  106|  Emily Davis|61000|       HR|
|  107| Chris Martin|57000|  Finance|
|  108|   Amanda Lee|59000|Marketing|
|  109|  Robert King|54000|       IT|
|  110|  Laura Scott|63000|       HR|
|  111|Daniel Turner|56000|  Finance|
|  112|Olivia Harris|60500|Marketing|
|  113| Ethan Walker|57500|       IT|
|  114|  Grace Young|61500|       HR|
|  115| Brandon Hill|58500|  Finance|
|  116|    Mia Adams|59500|Marketing|
|  117|  Kevin Baker|54500|       IT|
|  118|    Zoe Clark|62500|       HR|
|  119| Jason Wright|56500|  Finance|
|  120|   Nora Green|60000|Marketing|
+-----+-------------+-----+---------+
only showing top 20 rows

In [0]:
df.rdd.getNumPartitions()

---------------------------------------------------------------------------
PySparkNotImplementedError                Traceback (most recent call last)
File <command-5882552701624876>, line 1
----> 1 df.rdd.getNumPartitions()

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/dataframe.py:2330, in DataFrame.rdd(self)
   2328 @property
   2329 def rdd(self) -> "RDD[Row]":
-> 2330     raise PySparkNotImplementedError(
   2331         errorClass="NOT_IMPLEMENTED",
   2332         messageParameters={"feature": "rdd"},
   2333     )

PySparkNotImplementedError: [NOT_IMPLEMENTED] Using custom code using PySpark RDDs is not allowed on serverless compute. We suggest using mapInPandas or mapInArrow for the most common use cases. For more details on compatibility and limitations, check: https://docs.databricks.com/release-notes/serverless.html#limitations